
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/f3082949a8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="{% static '/css/style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
</head>
<body>
  <div class="topnav">
    <img class="tube-line" id="start-image" title="Shoot for a new journey!" data-placement='right' data-toggle="modal" src="{% static 'images/start.svg' %}" style="width:50px; height: 50px; left: 10px; top: 10px;">
    <img class="tube-line" src="{% static 'images/finish-flag.svg' %}" style="width:50px; height: 50px; position: absolute; left: 95%;top:10px;">
  </div>
  <div class="container-1">
    <!-- <svg class="svgViz" id="mySVGIZ" width="600" height="400" viewBox="0 0 1142 960" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="undraw_Map_dark_k9pw 3" clip-path="url(#clip0)">
        <path id="Vector" d="M829.031 752.966H669.272L397.162 779.416L122.946 752.966V104.93L396.025 124.767L675.002 104.93L947.913 142.401L940.907 640.05L829.031 752.966Z" fill="url(#paint0_linear)"/>
        <path id="Vector_2" d="M823.823 743.958H667.559L401.402 769.693L133.185 743.958V113.437L400.29 132.738L673.163 113.437L940.104 149.896L933.252 634.095L823.823 743.958Z" fill="white"/>
        <path id="Vector_3" d="M822.614 724.727H658.039L406.991 749.002L154 724.727V130L405.942 148.206L663.325 130L915.111 164.39V631.675L822.614 724.727Z" fill="#67E63A" fill-opacity="0.74"/>
      <g id="Group">
        <path id="Vector_4" d="M1142 905.342L564.066 585.212L710.863 97.3534L660.905 77.5371L589.764 313.962L22.9661 0L0 54.658L572.386 371.716L441.708 806.006L491.666 825.822L546.688 642.965L1119.03 960L1142 905.342Z" fill="white"/>
      </g>
      <path id="Vector_5" d="M813.05 742.975L814.986 620.213L933.252 624.985L813.05 742.975Z" fill="url(#paint1_linear)"/>
      <path id="Vector_6" d="M156.089 389.079L518.823 549.726L542.929 599.708L518.93 624.714L156.089 452.589V389.079Z" fill="white"/>
      <path id="Vector_7" d="M823.823 742.975L825.585 629.694L933.252 634.097L823.823 742.975Z" fill="white"/>
      <path id="Vector_8" d="M648.925 647.719L800.277 150.484L860.484 158.707L690.923 673.724L648.925 647.719Z" fill="white"/>
      <g class="svgVizPin" id="Pin">
        <path class="vector_pin" id="Vector_9" d="M638.773 348.513C638.773 396.553 551.812 532.595 551.812 532.595C551.812 532.595 464.851 396.553 464.851 348.513C464.847 337.087 467.093 325.773 471.462 315.216C475.83 304.66 482.235 295.067 490.311 286.987C498.386 278.906 507.974 272.497 518.526 268.123C529.079 263.75 540.389 261.499 551.812 261.499C563.234 261.499 574.545 263.75 585.097 268.123C595.65 272.497 605.238 278.906 613.313 286.987C621.389 295.067 627.794 304.66 632.162 315.216C636.531 325.773 638.777 337.087 638.773 348.513V348.513Z" fill="#547AFF"/>
        <path id="Vector_10" d="M551.812 368.741C566.332 368.741 578.102 356.968 578.102 342.444C578.102 327.92 566.332 316.147 551.812 316.147C537.292 316.147 525.521 327.92 525.521 342.444C525.521 356.968 537.292 368.741 551.812 368.741Z" fill="white"/>
      </g>
      <path id="Vector_11" d="M784.639 389.079L917.2 423.102V486.612L754.921 428.67L784.639 389.079Z" fill="white"/>
      <path id="Vector_12" d="M279.423 511.096L245.941 742.74L283.94 750.741L333.997 536.984L333.938 506.688L279.423 511.096Z" fill="white"/>
      <path id="Vector_13" d="M278.073 208.689L240.504 426.465L269.593 442.173L338.937 208.622L278.073 208.689Z" fill="white"/>
      <path id="Vector1" d="M351.937 174.61C357.46 174.61 361.937 170.133 361.937 164.61C361.937 159.087 357.46 154.61 351.937 154.61C346.414 154.61 341.937 159.087 341.937 164.61C341.937 170.133 346.414 174.61 351.937 174.61Z" fill="#547AFF"/>
      <path id="Vector3" d="M255.941 591.701C261.464 591.701 265.941 587.224 265.941 581.701C265.941 576.179 261.464 571.701 255.941 571.701C250.418 571.701 245.941 576.179 245.941 581.701C245.941 587.224 250.418 591.701 255.941 591.701Z" fill="#547AFF"/>
      <path id="Vector4" d="M247.941 650.714C253.464 650.714 257.941 646.237 257.941 640.714C257.941 635.192 253.464 630.714 247.941 630.714C242.418 630.714 237.941 635.192 237.941 640.714C237.941 646.237 242.418 650.714 247.941 650.714Z" fill="#547AFF"/>
      <path id="Vector5" d="M332.938 636.711C338.461 636.711 342.938 632.234 342.938 626.711C342.938 621.189 338.461 616.711 332.938 616.711C327.415 616.711 322.938 621.189 322.938 626.711C322.938 632.234 327.415 636.711 332.938 636.711Z" fill="#547AFF"/>
      <path id="Vector2" d="M195.943 396.658C201.466 396.658 205.943 392.181 205.943 386.658C205.943 381.136 201.466 376.658 195.943 376.658C190.42 376.658 185.943 381.136 185.943 386.658C185.943 392.181 190.42 396.658 195.943 396.658Z" fill="#547AFF"/>
      <path id="Vector6" d="M825.918 388.657C831.441 388.657 835.918 384.18 835.918 378.657C835.918 373.134 831.441 368.657 825.918 368.657C820.395 368.657 815.918 373.134 815.918 378.657C815.918 384.18 820.395 388.657 825.918 388.657Z" fill="#547AFF"/>
      <path id="Vector7" d="M773 693C784.046 693 793 684.046 793 673C793 661.954 784.046 653 773 653C761.954 653 753 661.954 753 673C753 684.046 761.954 693 773 693Z" fill="#FF522D"/>
      <path id="Route1" d="M546 551C548.209 551 550 549.209 550 547C550 544.791 548.209 543 546 543C543.791 543 542 544.791 542 547C542 549.209 543.791 551 546 551Z" fill="#FF522D"/>
      <path id="Route2" d="M542 567C544.209 567 546 565.209 546 563C546 560.791 544.209 559 542 559C539.791 559 538 560.791 538 563C538 565.209 539.791 567 542 567Z" fill="#FF522D"/>
      <path id="Route3" d="M537 583C539.209 583 541 581.209 541 579C541 576.791 539.209 575 537 575C534.791 575 533 576.791 533 579C533 581.209 534.791 583 537 583Z" fill="#FF522D"/>
      <path id="Route4" d="M531 601C533.209 601 535 599.209 535 597C535 594.791 533.209 593 531 593C528.791 593 527 594.791 527 597C527 599.209 528.791 601 531 601Z" fill="#FF522D"/>
      <path id="Route5" d="M546 611C548.209 611 550 609.209 550 607C550 604.791 548.209 603 546 603C543.791 603 542 604.791 542 607C542 609.209 543.791 611 546 611Z" fill="#FF522D"/>
      <path id="Route6" d="M563 619C565.209 619 567 617.209 567 615C567 612.791 565.209 611 563 611C560.791 611 559 612.791 559 615C559 617.209 560.791 619 563 619Z" fill="#FF522D"/>
      <path id="Route7" d="M579 629C581.209 629 583 627.209 583 625C583 622.791 581.209 621 579 621C576.791 621 575 622.791 575 625C575 627.209 576.791 629 579 629Z" fill="#FF522D"/>
      <path id="Route8" d="M594 637C596.209 637 598 635.209 598 633C598 630.791 596.209 629 594 629C591.791 629 590 630.791 590 633C590 635.209 591.791 637 594 637Z" fill="#FF522D"/>
      <path id="Route9" d="M608 645C610.209 645 612 643.209 612 641C612 638.791 610.209 637 608 637C605.791 637 604 638.791 604 641C604 643.209 605.791 645 608 645Z" fill="#FF522D"/>
      <path id="Route10" d="M623 653C625.209 653 627 651.209 627 649C627 646.791 625.209 645 623 645C620.791 645 619 646.791 619 649C619 651.209 620.791 653 623 653Z" fill="#FF522D"/>
      <path id="Route11" d="M639 661C641.209 661 643 659.209 643 657C643 654.791 641.209 653 639 653C636.791 653 635 654.791 635 657C635 659.209 636.791 661 639 661Z" fill="#FF522D"/>
      <path id="Route12" d="M653 669C655.209 669 657 667.209 657 665C657 662.791 655.209 661 653 661C650.791 661 649 662.791 649 665C649 667.209 650.791 669 653 669Z" fill="#FF522D"/>
      <path id="Route13" d="M668 677C670.209 677 672 675.209 672 673C672 670.791 670.209 669 668 669C665.791 669 664 670.791 664 673C664 675.209 665.791 677 668 677Z" fill="#FF522D"/>
      <path id="Route14" d="M683 685C685.209 685 687 683.209 687 681C687 678.791 685.209 677 683 677C680.791 677 679 678.791 679 681C679 683.209 680.791 685 683 685Z" fill="#FF522D"/>
      <path id="Route15" d="M698 693C700.209 693 702 691.209 702 689C702 686.791 700.209 685 698 685C695.791 685 694 686.791 694 689C694 691.209 695.791 693 698 693Z" fill="#FF522D"/>
      <path id="Route16" d="M713 701C715.209 701 717 699.209 717 697C717 694.791 715.209 693 713 693C710.791 693 709 694.791 709 697C709 699.209 710.791 701 713 701Z" fill="#FF522D"/>
      <path id="Route17" d="M728 709C730.209 709 732 707.209 732 705C732 702.791 730.209 701 728 701C725.791 701 724 702.791 724 705C724 707.209 725.791 709 728 709Z" fill="#FF522D"/>
      <path id="Route18" d="M740 717C742.209 717 744 715.209 744 713C744 710.791 742.209 709 740 709C737.791 709 736 710.791 736 713C736 715.209 737.791 717 740 717Z" fill="#FF522D"/>
      <path id="Route19" d="M751 705C753.209 705 755 703.209 755 701C755 698.791 753.209 697 751 697C748.791 697 747 698.791 747 701C747 703.209 748.791 705 751 705Z" fill="#FF522D"/>
    </g>
    <defs>
      <linearGradient id="paint0_linear" x1="535.429" y1="779.416" x2="535.429" y2="104.93" gradientUnits="userSpaceOnUse">
      <stop stop-color="#808080" stop-opacity="0.25"/>
      <stop offset="0.53514" stop-color="#808080" stop-opacity="0.12"/>
      <stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
      </linearGradient>
      <linearGradient id="paint1_linear" x1="873.151" y1="742.975" x2="873.151" y2="620.213" gradientUnits="userSpaceOnUse">
      <stop stop-opacity="0.12"/>
      <stop offset="0.55135" stop-opacity="0.09"/>
      <stop offset="1" stop-opacity="0.02"/>
      </linearGradient>
      <clipPath id="clip0">
      <rect width="1142" height="960" fill="white"/>
      </clipPath>
    </defs>
    </svg> -->

    <div class="container" id="main-form" style="display: visible;">
      <span class="texting">
        <img src="{% static 'images/agent-smith.svg' %}" style="height:80px; top:10px;"/>
      </span>
        <div class="subcontainer">
          <form method="post" class="main-form" id="mainf">
            <h3 id="form-header">Going somewhere?</h3>
            {% csrf_token %}
            <div >
              {{ form.as_p }}
              <!-- <i id="field-marker" class="fas fa-map-marker-alt" style="position: absolute;"></i> -->
            </div>

            {% for error in form.origin.errors %}
              {{ error }}
            {% endfor %}

            <p>

              <input type = "submit" id="fields" value = "Go" style="font-size: 18px; font-family: 'Nunito';"/>

            </p>
          </form>
        </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            <img src="{% static 'images/agent-smith.svg' %}" style="height:80px;"/>
            <br>
            <br>
          </h4>

          <h4 class="modal-question">
            <br>
            <br>
            <br>

            Going somewhere?
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="pop-subcontainer">
            <form method="post" class="main-form" id="popupf">
              {% csrf_token %}
              {{ form.as_p }}
              <p><input type = "submit" id="fields" value = "Go"/></p>

            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


  <!-- <div class="header">
    {% for item in routes %}
      <h2>Here are {{ item.numberOfRoutes }} possible routes that can get you to {{ form.data.destination }}!</h2>
    {% endfor %}
  </div> -->


  <div class="results" >
    <img id="results-smith" src="{% static 'images/agent-smith.svg' %}"/>
    {% for item in routes %}
      <h4 id="results-header">I've got {{ item.numberOfRoutes }} routes to {{ form.data.destination }} for you.</h4>
    {% endfor %}
    <!-- <svg height="20" width="100%">
      <g fill="none">
        <path stroke="white" d="M0 20 l504 0" />
      </g>
    </svg> -->
      {% for journey in json_data.journeys %}

        <div class="results_all_" id="results_all_{{ forloop.counter }}">
          <div class="routes_top" id="summary_{{ forloop.counter }}">
            <!-- <div class="selected-route"> -->
            <span id="duration">{{ journey.duration }} min
            </span>
            <div class="subheader">
              {% for leg in journey.legs %}
                <div class="mode-name" style="display:none;">
                  {{ leg.mode.name }}
                </div>
                {% if leg.mode.name == 'walking' %}
                  <i class="fas fa-walking" id="walker" data-toggle="tooltip" title="Walking"></i>
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% endif %}

                {% if 'District line' in leg.instruction.summary %}
                  <img class="tube-line" id="district-line" src="{% static 'images/district-line.png' %}"
                  alt="District Line" data-toggle="tooltip" title="District Line">
                  <!-- <span class="tooltiptext">
                    <img class="tooltip-tube-img" id="from" src="{% static 'images/tooltip-tube.png' %}"></img>
                    <img class="tooltip-stroke"  src="{% static 'images/district-stroke.png' %}"></img>
                    <img class="tooltip-tube-img" id="to" src="{% static 'images/tooltip-tube.png' %}"></img>

                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Bakerloo line' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/bakerloo-line.png' %}"
                  alt="Bakerloo Line" data-toggle="tooltip" title="Bakerloo Line">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Central line' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/central-line.png' %}"
                  alt="Central Line" data-toggle="tooltip" title="Central Line">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Circle line' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/circle-line.png' %}"
                  alt="Circle Line" data-toggle="tooltip" title="Circle Line">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Jubilee line' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/jubilee-line.png' %}"
                  alt="Jubilee Line" data-toggle="tooltip" title="Jubilee Line">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Metropolitan line' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/metropolitan-line.png' %}"
                  alt="Metropolitan Line" data-toggle="tooltip" title="Metropolitan Line">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Northern line' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/northern-line.png' %}"
                  alt="Northern Line" data-toggle="tooltip" title="Northern Line">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Piccadilly line' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/piccadilly-line.png' %}"
                  alt="Piccadilly Line" data-toggle="tooltip" title="Piccadilly Line">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Victoria line' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/victoria-line.png' %}"
                  alt="Victoria Line" data-toggle="tooltip" title="Victoria Line">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Hammersmith & City line' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/H&C.png' %}"
                  alt="Hammersmith & City Line" data-toggle="tooltip" title="Hammersmith & City Line">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'DLR' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/dlr-line.png' %}"
                  alt="DLR" data-toggle="tooltip" title="Docklands Light Railway (DLR)">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% elif 'Overground' in leg.instruction.summary %}
                  <img class="tube-line" src="{% static 'images/overground.png' %}"
                  alt="Overground" data-toggle="tooltip" title="Overground">
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>


                {% elif leg.mode.name == 'bus' %}
                  <i class="fas fa-bus" id="bus" alt="Bus" data-toggle="tooltip" title="Bus"></i>
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>

                {% elif leg.mode.name == 'national-rail' %}
                  <i class="fas fa-subway" id="national-rail" data-toggle="tooltip" title="National Rail"></i>
                  <!-- <span class="tooltiptext">{% for stop in leg.path.stopPoints %}
                    <li>{{ stop.name }}</li>
                  {% endfor %}
                  </span> -->
                  <i class="fas fa-dot-circle" id="circle"></i>
                {% endif %}
              {% endfor %}
              <img class="tube-line" src="{% static 'images/finish-flag.svg' %}" data-toggle="tooltip" title="&#127881 &#127881 &#127881" style="width:30px; height: 30px;">
            </div>
              <div class="routes_bottom" id="detailed_{{ forloop.counter }}">
                <!-- <svg class="route-separator" width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <line x1="10%" y1="20" x2="86%" y2="20" stroke="white" stroke-width="1" stroke-linecap="round"/>
                </svg> -->
                {% for leg in journey.legs %}
                {% if leg.mode.name == 'walking' %}
                <br>
                <i class="fas fa-walking" id="walker-bottom" data-toggle="tooltip" title="Walking"></i>
                <span class="leg-summary">{{ leg.instruction.summary }} </span>
                <div class="walk-duration">{{ leg.duration }} min</div>
                {% elif leg.mode.name == 'tube' %}
                <img class="tube-line-results-start" src="{% static 'images/tubepng.png' %}"
                alt="Overground" data-toggle="tooltip" title="{{ leg.instruction.detailed }}">
                <!-- <span class="leg-summary">{{ leg.instruction.summary }} for {{ leg.duration }} mins</span> -->
                <img class="tube-line-results-end" src="{% static 'images/tubepng.png' %}"
                alt="Overground" data-toggle="tooltip" title="{{ leg.instruction.detailed }}">
                {% elif leg.mode.name == 'bus' %}

                <i class="fas fa-bus" id="bus-start" alt="Bus" data-toggle="tooltip" title="{{ leg.instruction.detailed }}" ></i>
                <h5 class="leg-summary-bus">{{ leg.instruction.summary }}</h5>
                <div class="bus-duration">{{ leg.duration }} min</div>
                <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                  <line x1="20%" y1="9" x2="63%" y2="9" stroke="#CD1425" stroke-width="4" stroke-linecap="round"/>
                </svg>
                <i class="fas fa-bus" id="bus-end" alt="Bus" data-toggle="tooltip" title="{{ leg.instruction.detailed }}" ></i>

                {% elif leg.mode.name == 'overground' %}
                <img class="overground-line-results-start" src="{% static 'images/overground-leg.png' %}"
                alt="Overground" data-toggle="tooltip" title="{{ leg.instruction.detailed }}">
                <h5 class="leg-summary-bus">{{ leg.instruction.summary }}</h5>
                <div class="bus-duration">{{ leg.duration }} min</div>
                <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                  <line x1="20%" y1="9" x2="63%" y2="9" stroke="#FF7400" stroke-width="4" stroke-linecap="round"/>
                </svg>
                <img class="overground-line-results-end" src="{% static 'images/overground-leg.png' %}"
                alt="Overground" data-toggle="tooltip" title="{{ leg.instruction.detailed }}">

                {% elif leg.mode.name == 'national-rail' %}
                <img class="national-line-results-start" src="{% static 'images/NationalRail2.png' %}"
                alt="Overground" data-toggle="tooltip" title="{{ leg.instruction.detailed }}">
                <h5 class="leg-summary-bus">{{ leg.instruction.summary }}</h5>
                <div class="bus-duration">{{ leg.duration }} min</div>
                <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                  <line x1="20%" y1="9" x2="63%" y2="9" stroke="#003366" stroke-width="4" stroke-linecap="round"/>
                </svg>
                <img class="national-line-results-end" src="{% static 'images/NationalRail2.png' %}"
                alt="Overground" data-toggle="tooltip" title="{{ leg.instruction.detailed }}">

                {% elif leg.mode.name == 'dlr' %}
                <img class="dlr-line-results-start" src="{% static 'images/dlr-stops.png' %}"
                alt="Overground" data-toggle="tooltip" title="{{ leg.instruction.detailed }}">
                <h5 class="leg-summary-bus">{{ leg.instruction.summary }}</h5>
                <div class="bus-duration">{{ leg.duration }} min</div>
                <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                  <line x1="20%" y1="9" x2="63%" y2="9" stroke="#003366" stroke-width="4" stroke-linecap="round"/>
                </svg>
                <img class="dlr-line-results-end" src="{% static 'images/dlr-stops.png' %}"
                alt="Overground" data-toggle="tooltip" title="{{ leg.instruction.detailed }}">

                {% endif %}
                  <!-- <span class="leg-summary">{{ leg.instruction.summary }} for {{ leg.duration }} mins</span> -->

                    {% if leg.mode.name == 'tube' %}
                      <h5 class="leg-summary-tube">{{ leg.instruction.summary }}</h5>
                      <div class="tube-duration">{{ leg.duration }} min</div>
                      {% if 'Bakerloo line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#9F5429" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}
                      {% if 'District line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#007732" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}
                      {% if 'Circle line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#FFC200" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}
                      {% if 'Metropolitan line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#7D1C4F" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}
                      {% if 'Northern line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#191A1B" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}
                      {% if 'Central line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#D8301F" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}
                      {% if 'Jubilee line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#8F959C" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}
                      {% if 'Piccadilly line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#003272" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}
                      {% if 'Victoria line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#0087BD" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}
                      {% if 'Hammersmith & City line' in leg.instruction.detailed %}
                      <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                        <line x1="20%" y1="9" x2="63%" y2="9" stroke="#F18B9B" stroke-width="4" stroke-linecap="round"/>
                      </svg>
                      {% endif %}

                    {% endif %}

                    <!-- {% if leg.mode.name == 'overground' %}

                    <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                      <line x1="20%" y1="9" x2="63%" y2="9" stroke="white" stroke-width="6" stroke-linecap="round"/>
                      <line x1="20%" y1="9" x2="63%" y2="9" stroke="#FF7400" stroke-width="4" stroke-linecap="round"/>
                    </svg>
                    <br>
                    <h5 class="leg-summary-tube">{{ leg.instruction.summary }}</h5>
                    <div class="tube-duration">{{ leg.duration }} min</div>
                    {% endif %} -->



                    {% if leg.mode.name != 'walking' %}
                      {% if leg.path.stopPoints %}
                          <div class="my-emoji" id="my-emoji-{{ forloop.counter }}" title="Check out the stops!" >Stops &#9995</div>
                      {% endif %}
                    {% endif %}


                    <ul class="my-list" id="my-list-{{ forloop.counter }}">
                      <br>
                      {% for stops in leg.path.stopPoints %}
                        {% if leg.mode.name == 'tube' %}
                          <img class="tube-line-stops" src="{% static 'images/tubepng.png' %}" alt="Tube Stop">
                        {% endif %}
                        {% if leg.mode.name == 'bus' %}
                          <img class="tube-line-stops" src="{% static 'images/bus-stop.png' %}" alt="Bus Stop">
                        {% endif %}
                        {% if leg.mode.name == 'overground' %}
                          <img class="tube-line-stops" src="{% static 'images/overground-leg.png' %}" alt="Overground Stop">
                        {% endif %}
                        {% if leg.mode.name == 'national-rail' %}
                          <img class="tube-line-stops" src="{% static 'images/NationalRail2.png' %}" alt="Overground Stop">
                        {% endif %}
                        {% if leg.mode.name == 'dlr' %}
                          <img class="tube-line-stops" src="{% static 'images/dlr-stops.png' %}" alt="Overground Stop">
                        {% endif %}
                          {{ stops.name }} <br>
                      {% endfor %}
                    </ul>


                    <svg width="100%" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1">
                      <line x1="10%" y1="20" x2="86%" y2="20" stroke="white" stroke-width="1" stroke-linecap="round"/>
                    </svg>











                  <div class="little-paths" id="routePath_{{ forloop.counter }}" data-name="{{ leg.mode.name }}" data-mode="{{ leg.routeOptions.0.name }}" style="display:none;">
                    {{ leg.path.lineString }}
                  </div>
                  {% for stop in leg.path.stopPoints %}
                    <div class="stop-points" data-stop="{{ stop.name }}" style="display:none;">
                    </div>
                  {% endfor %}

                {% endfor %}
                <br>
                <br>
              </div>


              <br>
              <br>
        </div>
        </div>
          {% endfor %}
          <br>
        <br>

  </div>
  <div class="actualMap">
    <div id="googleMap"></div>
  </div>
<br>
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
  <script>
    const visualAll = document.querySelectorAll('#mySVGIZ');
    const visualWithoutPin = document.querySelectorAll('.svgViz g:not([id*="svgVizPin"])');
    anime({
      targets: ['#Vector4', '#Vector2', '#Vector3', '#Vector5', '#Vector6',
        '#Vector1', '#Vector_2', '#Vector_3', '#Vector_4', '#Vector_5', '#Vector_6',
        '#Vector_7', '#Vector_8', '#Vector_11',
        '#Vector_12', '#Vector_13', '#Vector'],
      opacity:[1,0],
      duration:5000,
      delay:3000,
    });
    anime({
      targets: '#Vector7',
      translateX: [{
        value: '-=30',
      },
      {
        value: '-=210',
      },
      {
        value: '+=19'
      }],
      translateY: [{
        value: '+=40'
      },
      {
        value: '-=115'
      },
      {
        value: '-=42'
      }],
      easing: 'easeInOutSine',
      duration: 2000,
      delay: 3000,
    });

    anime({
      targets: '#Vector_9',
      fill: '#4D1A7F',
      easing: 'linear',
      duration: 200,
      direction: 'linear',
      easing: 'easeInOutQuad',
      duration: 1000,
      delay: 5000,
      complete: function(anim) {
      console.log('ANIMATION COMPLETE');
    }
    });
    anime({
      targets:['#Vector7'],
      opacity:0,
      duration:1000,
      delay:5000,
      easing: 'easeInOutSine',
    });
    // anime({
    //   targets: '#Pin',
    //   duration: 1400,
    //   delay: 5500,
    //   scale:1.1,
    //   easing: 'easeInOutElastic',
    // })

  </script>
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="{% static "javascript/tooltiper.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/selectedRouteStyling.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/errorHandler.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/hideForm.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/test.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/spaceRemover.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/geoLocation.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/allInfoWindows.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/allColorRouting.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/allTubesMarkers.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/allTubes.js" %}" type="text/javascript"></script>

  <script src="{% static "javascript/hover.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/submitNoRefresh.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/showResults.js" %}" type="text/javascript"></script>
  <script src="{% static "javascript/form.js" %}" type="text/javascript"></script>

  <script src="{% static "javascript/googleMaps.js" %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwD_ZSE2EHfqN3U35yTzxp_BVmn2TAASs&callback=myMap&libraries=places"></script>
  <script src="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyBwD_ZSE2EHfqN3U35yTzxp_BVmn2TAASs"></script>
  <!-- <script>
    const bouncingBall = anime({
      targets: '.svgVizPin',
      translateY: '50vh',
      duration: 300,
      loop: 2,
      direction: 'alternate',
      easing: 'easeInCubic',
    });
    document.querySelector('.svgVizPin').onclick = bouncingBall.play;
  </script> -->
  <script>
    anime({
      targets: '.backings',
      translateY: '50vh',
      scale: [0.8, 1],
      opacity: [0.1, 1],
      loop: 4,
      duration: 3000
    })
  </script>


</body>
</html>
